* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  color: #29292e; 
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}
